{% if weather_data %}
    <h1>{{ weather_data.city|upper}}</h1>
    <h3>погода в {{weather_data.time}}</h3>
    <h2>{{ weather_data.temperature }}°C</h2>
{% endif %}

{% if daily_forecasts %}
    <h2>7-Day Forecast</h2>
    <div class="forecast-container">
        {% for forecast in daily_forecasts %}
            <div class="forecast">
                <h3>{{ forecast.day }}</h3>
                <p>{{ forecast.min_temp }}°C - {{ forecast.max_temp }}°C</p>
            </div>
        {% endfor %}
    </div>
{% endif %}
